.guided-tours__step {
	position: fixed;
	max-width: 410px;
	z-index: z-index( 'root', '.guided-tours__step' );
	// border: 1px solid lighten( $gray, 10 );
	// box-shadow: 0 2px 4px 0 rgba( $gray-dark, 0.15 );
	border-radius: 4px;
	padding-top: 19px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;

	border: darken( $gray, 52% );
	background: darken( $gray, 52% );

	.guided-tours__step-text {
		color: $white;
		margin-bottom: 16px;
	}

	.gridicon[height="16"] {
		position: relative;
		top: 2px;
	}

	.gridicon[height="18"] {
		position: relative;
		top: 3px;
	}
}

.guided-tours__step-first {
	animation-duration: 900ms;
	animation-name: guided-tours__step-slidein;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
	animation-fill-mode: both;
}

.guided-tours__step-finish {
	top: 20%;
}

@keyframes guided-tours__step-slidein {
	0% {
		transform: translateX( 200% );
	}

	100% {
		transform: translateX( 0 );
	}
}

.guided-tours__choice-button-row {
	.button {
		width: 48%;
	}
	.button:nth-child(1) {
		margin-right: 4%;
	}
	.button:nth-child(2) {
		color: darken( $white, 20% );
		background: none;
		border: none;
	}
}

.guided-tours__single-button-row {
	.button {
		width: 100%;
	}
}

.guided-tours__external-link,
.guided-tours__actionstep-instructions {
	color: darken( $gray, 10 );
	margin-bottom: 0;
	font-style: italic;

	.gridicon {
		position: relative;
		top: 7px;
	}

	.external-link {
		border-top: 1px solid $gray-light;
		display: block;
		padding-top: 8px;
		margin-top: 16px;
	}
}

.guided-tours__actionstep-instructions {
	margin-top: -7px;
}

// style the pure text representation of the actionstep icon
.guided-tours__actionstep-text {
	position: relative;
		top: 3px;
	font-style: normal;
	font-size: 190%;
	line-height: 0;
}

// glowing outline
.guided-tours__step-glow {
	// border: none;
	// box-shadow:
	// 	0 0 0 1px $blue-dark,
	// 	0 0 0 5px $blue-light;
}

// arrow if we have a target
.guided-tours__step-pointing:before {
	position: absolute;
	border: darken( $gray, 52% );
	// box-shadow:
	// 	-1px -1px 0 0 $blue-dark,
	// 	-4px -4px 0 2px $blue-light;
	content: " ";
	pointer-events: none;
	background: darken( $gray, 52% );
	width: 12px;
	height: 12px;
}

// the different arrow directions
.guided-tours__step-pointing.guided-tours__step-pointing-none:before {
	display: none;
}

.guided-tours__step-pointing.guided-tours__step-pointing-top-left:before {
	top: -5.5px;
	left: 30px;
	transform: rotate(45deg);
}

.guided-tours__step-pointing.guided-tours__step-pointing-top-center:before {
	top: -5.5px;
	left: 49%;
	transform: rotate(45deg);
}

.guided-tours__step-pointing.guided-tours__step-pointing-top-right:before {
	top: -5.5px;
	right: 30px;
	transform: rotate(45deg);
}

.guided-tours__step-pointing.guided-tours__step-pointing-right-top:before {
	top: 15px;
	right: -5.5px;
	transform: rotate(135deg);
}

.guided-tours__step-pointing.guided-tours__step-pointing-right-middle:before {
	top: 42%;
	right: -5.5px;
	transform: rotate(135deg);
}

.guided-tours__step-pointing.guided-tours__step-pointing-right-bottom:before {
	bottom: 15px;
	right: -5.5px;
	transform: rotate(135deg);
}

.guided-tours__step-pointing.guided-tours__step-pointing-bottom-right:before {
	bottom: -5.5px;
	right: 30px;
	transform: rotate(225deg);
}

.guided-tours__step-pointing.guided-tours__step-pointing-bottom-center:before {
	bottom: -5.5px;
	left: 49%;
	transform: rotate(225deg);
}

.guided-tours__step-pointing.guided-tours__step-pointing-bottom-left:before {
	bottom: -5.5px;
	left: 30px;
	transform: rotate(225deg);
}

.guided-tours__step-pointing.guided-tours__step-pointing-left-bottom:before {
	bottom: 15px;
	left: -5.5px;
	transform: rotate(-45deg);
}

.guided-tours__step-pointing.guided-tours__step-pointing-left-middle:before {
	top: 42%;
	left: -5.5px;
	transform: rotate(-45deg);
}

.guided-tours__step-pointing.guided-tours__step-pointing-left-top:before {
	top: 15px;
	left: -5.5px;
	transform: rotate(-45deg);
}
